.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn {
  background-color: lightgreen;
  border: 1px sold green;
  border-radius: 3px;
  padding: 10px;
  width: 30%;
}

.animal-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}